<table class="table">
  <tbody>
    <tr>
      <td>Cale</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Typ dyspleja</td>
      <td>{{ product.display_type }}</td>
    </tr>
     <tr>
      <td>Karta graficzna</td>
      <td>{{ product.video }}</td>
    </tr>
     <tr>
      <td>Czastotnosc procesora</td>
      <td>{{ product.processor_freg }}</td>
    </tr>
     <tr>
      <td>RAM</td>
      <td>{{ product.ram }}</td>
    </tr>
     <tr>
      <td>Czas pracy baterii</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
  </tbody>
</table>

