<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <thead>
    <tr>
      <td>Cale</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Typ dyspleja</td>
      <td>{{ product.display_type }}</td>
    </tr>
     <tr>
      <td>Rozdzielczosc ekranu</td>
      <td>{{ product.resolution }}</td>
    </tr>
     <tr>
      <td>Objętosc baterii</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
     <tr>
      <td>RAM</td>
      <td>{{ product.ram }}</td>
    </tr>
     <tr>
      <td>SD</td>
      <td>{{ product.sd }}</td>
    </tr>
    <tr>
      <td>Objętość pamieci</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Glowna kamera</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
      <td>Selfi camera</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>

</body>
</html>

